@page "/"
@using Se.Contracts.Shared.Crud.QueryAll
@using Se.Web.Client
@inject ISeWebApiClient Api

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code 
{
    protected override async Task OnInitializedAsync()
    {
        var response = await Api.Products.QueryAllAsync(new QueryAllRequest());
        
        Console.WriteLine($"Response: {response?.Data.LastOrDefault()?.LastOrDefault()}");
    }
}
